#section-home {
  padding: 0;
}

.section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.section .section-home {
  padding: 0;
}

.section-anchor {
  position: absolute;
  top: -100px;
}

.blocks {
  position: relative;
}

.blocks-hero {
  position: relative;
  padding: 0;
  height: 100vh;
  background-color: white;
  box-shadow: inset -4px -10px 50px rgba(76, 189, 184, 0.1);
}

.title-bold {
  color: #23527c;
  font-size: 30px;
  text-decoration: none;
  line-height: 2.5;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
}

.home-face {
  display: flex;
  width: 100%;
  margin-top: 140px;
  justify-content: space-between;
}

.header {
  width: 800px;
  position: relative;
  text-align: justify;
}

.header-right {
  max-width: 30%;
  align-content: center;
  display: flex;
}

.section-main {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.section-one {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
}

.section-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 100px
}

.row-fluid {
  width: 100%;
}

.section-wrapper-right {
  margin-bottom: 160px;
  display: inline-block;
}

.image-show-off {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-show-off:after {
  content: '';
}

.image-show-off img {
  width: 150px;
  height: 150px;
}

.section-wrapper-left {
  margin-bottom: 160px;
  display: inline-block;
}

.section-left {
  padding-left: 0;
  padding-right: 15% !important;
  left: 0;
}

.section-two {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
}

.section-three {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
}

#divider {
  margin-bottom: 100px;
}

.italic {
  font-style: italic;
}

.featured-item-subheader {
  color: #23527c;
  font-size: 18px;
  text-decoration: none;
  line-height: 2.5;
  text-align: center;
}

.featured-item-body {
  line-height: 1.8;
  text-align: justify;
}
