.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 80%;
  margin: 0 auto !important;
  box-sizing: border-box;
  background: white !important;
  height: 3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
  border: 1px solid #E7E7E7 !important;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border-color: red !important;
}

.ValidationError {
  color: red;
  margin: 0 auto;
  width: 75%;
}
