#section-home {
  padding: 0;
}

.section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.section .section-home {
  padding: 0;
}

.section-anchor {
  position: absolute;
  top: -100px;
}

.blocks {
  position: relative;
}

.blocks-hero {
  position: relative;
  padding: 0;
  height: 100vh;
  background-color: #D1DDE6 !important;
  box-shadow: inset -4px -10px 50px rgba(76, 189, 184, 0.1);
}

.title-bold {
  font-weight: 600;
  letter-spacing: 0.1em;
}

.home-face {
  display: flex;
  width: 100%;
  margin-top: 140px;
  justify-content: space-between;
}

.header {
  width: 800px;
  position: relative;
  text-align: justify;
}

.header-right {
  max-width: 30%;
  align-content: center;
  display: flex;
}

.section-main {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.section-one {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
}

.section-wrapper {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-top: 100px
}

.row-fluid {
  width: 100%;
}

.section-wrapper-right {
  margin-bottom: 160px;
  display: inline-block;
}

.image-show-off {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-show-off:after {
  content: '';
}

.image-show-off img {
  width: 150px;
  height: 150px;
}

.section-wrapper-left {
  margin-bottom: 160px;
  display: inline-block;
}

.section-left {
  padding-right: 15%;
  left: 0;
  float: left;
}

.section-right {
  float: right;
}

.section-two {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
}

.section-three {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
}

#divider {
  margin-bottom: 100px;
}

.italic {
  font-style: italic;
}

.home-text {
  margin: 50px 0;
  line-height: 2;
  font-size: 16px;
}

.typing {
  position: relative;
  font-weight: 700;
  font-size: 2.5em;
  color: #254A5D !important;
  font-size: 41px;
  text-decoration: none;
  font-family: 'Montserrat',
    sans-serif;
  margin-top: 5px;
}

@media (max-width: 1250px) {
  .home-face {
    padding-right: 4.7rem;
    padding-left: 4.7rem;
    margin-top: 100px
  }

  .typed-container {
    height: 100px;
  }
}

@media (max-width: 1024px) {
  .main-container {
    max-width: 900px;
  }
}


@media (max-width: 769px) {
  .home-face {
    margin-top: 100px !important;
  }

  .home-text p {
    text-align: justify
  }

  .typed-container {
    height: 100px;
  }
}

@media (max-width: 500px) {
  .typing {
    font-size: 35px !important;
  }
}

@media (max-width: 375px) {
  .typed-container {
    height: 100px;
  }

  .home-face {
    margin-top: 0 !important;
    padding-right: 2em;
    padding-left: 2em;
  }

  .blocks-hero {
    height: 850px !important;
  }
}
