.newsletterForm {
  display: flex !important;
}

.newsletterInput {
  border-radius: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.newsletterDiv {
  display: flex;
  padding: 0;
  flex-direction: column;
}

.btnNewsletter {
  width: 100%;
  margin-left: -2%;
  background: #f9423a;
  color: #fff;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.Flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 8px;
  border: 2px solid #1EDD88;
  width: 95%;
}

.validationClass {
  color: red;
  margin: 5px;
  width: 100%;
}
