.cta-button {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	max-width: 400px;
	font-size: 16px;
	font-weight: 700;
	border: 1px solid transparent;
	border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4rem;
    padding: 1rem 2.4rem;
    white-space: nowrap
}

.cta-button-xl {
	padding: 1.4rem 3.4rem;
	font-size: 1.8rem;
	font-weight: 700;
}

.button-newsletter {
	width: 30%;
	float: left;
	margin-left: -2%;
	background: rgb(35, 82, 124);
	color: #fff;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
}

.btn-project a {
  color: black;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  cursor: pointer;
  letter-spacing: 0.07em;
}

.btn-project a .text {
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.btn-project a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #ffee00;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}

.btn-project .line {
  position: absolute;
  background: #ffee00;
}

.btn-project .line.-right,
.btn-project .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}

.btn-project .line.-top,
.btn-project .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}

.btn-project .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}

.btn-project .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}

.btn-project .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}

.btn-project .line.-bottom {
  bottom: -3px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}

.btn-project a:hover .text,
.btn-project a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.btn-project a:hover:after,
.btn-project a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.btn-project a:hover .line,
.btn-project a:active .line {
  transform: scale3d(1, 1, 1);
}

.btn-project a:hover .line.-right,
.btn-project a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}

.btn-project a:hover .line.-top,
.btn-project a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}

.btn-project a:hover .line.-left,
.btn-project a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}

.btn-project a:hover .line.-bottom,
.btn-project a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}
