#section-home {
  padding: 0;
}

.section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.section .section-home {
  padding: 0;
}

.section-anchor-first {
  position: absolute;
  top: -180px;
}

.section-anchor {
  position: absolute;
  top: -90px;
}

.blocks {
  position: relative;
}

.title-bold {
  color: #254A5D;
  font-size: 30px;
  text-decoration: none;
  line-height: 2.5;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
}

.home-face {
  display: flex;
  width: 100%;
  margin-top: 140px;
  justify-content: space-between;
}

.header {
  width: 800px;
  position: relative;
  text-align: justify;
}

.header-right {
  max-width: 30%;
  align-content: center;
  display: flex;
}

.section-main {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
}

.section-one {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
  background: #254A5D;
}

.section-one .title-bold {
  color: #D1DDE6;
}

.section-one .line-anim a .text {
  color: #D1DDE6;
}

.section-one .featured-item-subheader {
  color: #D1DDE6;
}

.section-one .featured-item-body {
  color: white;
}

.section-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 100px
}

.row-fluid {
  width: 100%;
}

.section-wrapper-right {
  margin-bottom: 160px;
  display: inline-block;
}

.image-show-off {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-show-off:after {
  content: '';
}

.image-show-off img {
  width: 150px;
  height: 150px;
}

.section-wrapper-left {
  margin-bottom: 160px;
  display: inline-block;
}

.section-left {
  padding-left: 0;
  padding-right: 5% !important;
  left: 0;
}

.section-two {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
}

.section-two .clipped-border {
  background: #254A5D;
}

.section-three {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
  background: #D1DDE6;
}

.section-three .clipped-border {
  background: #254A5D;
}

#divider {
  margin-bottom: 100px;
}

.italic {
  font-style: italic;
}

.featured-item-subheader {
  color: #254A5D;
  font-size: 18px;
  text-decoration: none;
  line-height: 2.5;
  text-align: center;
}

.gallery-full {
  width: 100%;
  display: inline-block;
  min-height: 90vh;
  position: relative;
  background: #254A5D;
}

.featured-item-body {
  line-height: 1.8;
  text-align: justify;
}

@media (max-width: 1024px) {
  .title-bold {
    line-height: 2;
  }
}

@media (max-width: 768px) {
  .featured-item-body {
    text-align: justify;
  }

  .featured-item-subheader {
    text-align: center;
    line-height: 30px;
  }

  .title-bold {
    line-height: 40px;
  }

  .circle {
    height: 250px !important;
    width: 250px !important;
  }

  .clipped-border {
    max-height: 100px !important;
    max-width: 100px !important;
  }

  .clipped-border:first-child {
    left: -44px !important;
  }

  .clipped-border:nth-child(2) {
    top: 193px !important;
    left: 80px !important;
  }

  .clipped-border:nth-child(3) {
    top: 0 !important;
    left: 195px !important;
  }
}
