.component-footer {
  background-color: #254A5D;
}

.footer-full-row {
  margin: 40px 0 auto;
  max-width: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.footer-header {
  padding-bottom: 40px;
  padding-top: 60px;
}

.footer-header-inner {
  width: 100%;
  min-height: 100px;
  display: flex;
}

.footer-header-inner-left {
  width: 40%;
}

.footer-header-inner-right {
  width: 58%;
}


.social-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin: 0 0 auto;
  max-width: 100%;
}

.footer-main {
  padding-bottom: 40px;
  padding-top: 60px;
}

.footer-nav {
  width: 100%;
  font-size: 16px;
  color: rgb(35, 82, 124);
  padding-bottom: 20px;
}

.nav-footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fa:hover {
  opacity: 0.7;
}

.social-links .icon {
  padding-top: 20px;
  font-size: 20px;
  width: 70px;
  text-decoration: none;
  color: white !important;
}

.social-link {
  color: white;
}

.icon:hover {
  color: white;
}

.footer-newsletter {
  width: 38%;
  float: right;
}

.menu-item-newsletter {
  font-size: 16px;
  color: #e0e2e4;
  font-weight: bold;
}

.logo_footer a {
  color: #D1DDE6 !important;
}

.menu-item-title {
  color: #e0e2e4 !important;
  font-weight: 700;
}

.newsletter-form p {
  color: rgb(35, 82, 124);
}

.newsletter-input {
  width: 70%;
  float: left;
}

[type="submit"],
[value="Submit"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
select,
textarea {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0 20px;
  height: 54px;
  line-height: 54px;
  border-radius: 0;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #0b0c11;
  border: none;
  resize: none;
}

.menu-item-nav-footer {
  letter-spacing: .5px;
  line-height: 1.14;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 14px;
}

.menu-item-nav-footer:hover {
  color: white;
}

.footer-link:hover {
  color: #e0e2e4 !important;
}

.social-link {
  margin-top: 10px;
}


.footer-bottom {
  text-align: center;
  margin-top: 30px;
  color: #254A5D;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  width: 100%
}

.menu-item-has-children {
  float: left;
  vertical-align: top;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.sub-menu {
  margin-top: 24px;
  list-style-type: none;
  padding: 0;
}

.footer-link {
  color: white !important;
}

@media (max-width: 1250px) {
  .footer-inner {
    padding-right: 4.7rem;
    padding-left: 4.7rem
  }
}

@media (max-width: 768px) {
  .footer-inner {
    padding-right: 3rem;
    padding-left: 3rem
  }
}

@media (max-width: 500px) {
  .footer-inner {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .footer-header {
    padding-top: 20px;
  }

  .footer-contact {
    font-size: 20px;
  }

  .footer-header-inner {
    max-width: 480px;
    flex-direction: column;
  }

  .footer-header-inner-left {
    width: 70%;
    margin: 0 auto;
  }

  .footer-header-inner-right {
    width: 100%;
  }

  .menu-items {
    margin: 0 10px 0 0;
  }

  .social-links .icon {
    padding-top: 20px 0 5px 0;
    font-size: 15px;
  }

  .menu-item-has-children .menu-item-nav-footer .footer-bottom {
    font-size: 12px;
  }

  .menu-item-has-children {
    text-align: center;
  }

  .menu-item-nav-footer {
    text-align: center;
  }

  .footer-bottom {
    margin-top: 0;
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .nav-footer-nav {
    flex-direction: column;
  }
}
